
.rewards-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #504232;
}
.rewards-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #504232;
}
.rewards-image {
  height: var(--dl-size-size-medium);
}
.rewards-container1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  
}
.rewards-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.rewards-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  background-color: #F8E58B;
}
.rewards-register {
  background-color: #F8E58B;
}
.rewards-nav {
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
}
.rewards-thq-dropdown {
  width: auto;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
  background-color: #F8E58B;
}
.rewards-dropdown-toggle {
  fill: #595959;
  color: var(--dl-color-gray-black);
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.rewards-text {
  font-size: autopx;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.rewards-dropdown-arrow {
  transition: 0.3s;
}
.rewards-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.rewards-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.rewards-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  text-decoration: none;
  background-color: #F8E58B;
}
.rewards-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.rewards-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.rewards-text1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
  font-weight: 500;
}
.rewards-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  text-decoration: none;
  background-color: #F8E58B;
}
.rewards-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.rewards-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.rewards-text2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
  font-weight: 500;
}
.rewards-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  text-decoration: none;
  background-color: #F8E58B;
}
.rewards-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.rewards-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.rewards-text3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
  font-weight: 500;
}
.rewards-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
  text-decoration: none;
  background-color: #F8E58B;
}
.rewards-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.rewards-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.rewards-text4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-style: normal;
  font-weight: 500;
}
.rewards-burger-menu {
  display: none;
}
.rewards-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.rewards-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.rewards-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.rewards-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.rewards-image1 {
  height: 2rem;
}
.rewards-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rewards-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.rewards-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.rewards-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.rewards-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.rewards-container3 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 98%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: #6B543A;
}
.rewards-banner {
  width: 98%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
  background-color: #f8e58b;
}
.rewards-text5 {
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.rewards-text6 {
  text-align: center;
}
.rewards-hero {
  width: 98%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/happiness-within-1500h.jpg");
  background-position: center;
}
.rewards-text7 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  max-width: 450px;
  box-shadow: rgb(8, 8, 8) 5px 5px 10px 0px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
  background-color: rgba(80, 66, 50, 0.63);
}
.rewards-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.rewards-button:hover {
  transform: scale(1.02);
}
.rewards-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.rewards-image2 {
  height: 2.5rem;
  object-fit: cover;
}
.rewards-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.rewards-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.rewards-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.rewards-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .rewards-text5 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .rewards-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .rewards-btn-group {
    display: none;
  }
  .rewards-nav {
    display: none;
  }
  .rewards-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rewards-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .rewards-text5 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .rewards-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .rewards-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .rewards-text8 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media screen and (max-width: 1490px) {
  .elseContainer .shopCartContainer {
    right: calc((100vw - 745px) / 2);
  }
}

.elseContainer.pupUp .shopCartContainer {
  animation: pupUp 0.6s cubic-bezier(0.42, 0, 0, 0.94) forwards;
}
@keyframes pupUp {
  from {
    transform: translate(var(--translate, 900px, 0px)) scale(var(--scale, 0));
  }

  to {
    transform: translate(var(--translate, 0, 0)) scale(var(--scale, 1));
  }
}
.rewards-container03 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 98%;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 160px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: #6b543a;
}
.loginContainer {
  display: none;
  position: fixed;
  z-index: 20;
  min-width: 680px;
}
.rewards-container03.pupUp .loginContainer {
  display: block;
}

.loginPage {
  /* display: none; */
  min-width: 680px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #241d15;
  transform: translateY(var(--translate, -400px)) translateX(var(--translate, 350px)) scale(var(--scale, 0.1));
}
.rewards-container03.pupUp .loginPage {
  animation: LoginPageShow 0.6s cubic-bezier(0.42, 0, 0, 0.94) forwards;
}
@media(max-width: 479px) {
  .rewards-header {
    padding: var(--dl-space-space-unit);
  }
  .rewards-mobile-menu {
    padding: 16px;
  }
  .rewards-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .rewards-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .rewards-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .rewards-image2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .rewards-text8 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
