* {
  margin: 0;
  padding: 0;
}
:root {
  --LogPageBG: linear-gradient(to right, #e9c46a, #efb366, #f4a261);
  --LogPageText: #fff;
  --LogPageBtn: #8ab17d;
  --overBtn: #43708c;
  --LogPageOverBG: #264653;
  --LogPageOverText: aliceblue;
}


.logContainer {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  background-image: var(--LogPageBG);

}


.logContainer .left,
.right,
.overrideLeft,
.overrideRight {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.logContainer h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.override h1 {
  margin-bottom: 20px;
}

.logContainer a {
  text-decoration: none;
  color: #000;
}

.logContainer .logIcon {
  user-select: none;
}

.left p,
.right p {
  margin: 20px 0 20px 0;
}

.override .intro {
  margin-bottom: 100px;
  line-height: 27px;
}

.icon {
  display: inline-flex;
  width: 2vw;
  height: 2vw;
  min-width: 20px;
  min-height: 20px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 6px;
  border: 2px solid rgba(0, 0, 0, 0.374);
  border-radius: 50px;
}

.logContainer input {
  height: 40px;
  width: 70%;
  margin: 8px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding-left: 10px;
  transition: all 0.2s ease;
}

.logContainer input:focus {
  width: 75%;
}

.forget {
  border-radius: 5px;
  padding: 4px;
  margin: 20px;
  transition: all 0.2s ease;
}


.forget:hover {
  box-shadow: 1px 1px 3px #365546;
}

.forget:active {
  box-shadow: 0 1px 1px #365546;
}

.logSign,
.switch {
  width: 200px;
  height: 45px;
  margin-top: 15px;
  font-size: 0.9rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.logContainer button.logSign:hover {
  transform: scale(1.01);
}
.logContainer button.logSign:active {
  box-shadow: 1px 1px 3px #505050;
}

.logContainer button.switch:hover {
  transform: scale(1.01);
}
.logContainer button.switch:active {
  box-shadow: 1px 1px 3px #6c9194;
}


.logContainer button.logSign {
  background-color: var(--LogPageBtn);
  box-shadow: 1px 3px 3px #505050;
}

.logContainer button.switch {
  background-color: var(--overBtn);
  box-shadow: 1px 3px 3px #03272b;
}

.right {
  right: 0;
}

.overrideRight {
  right: 0;
}

.overrideContainer {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 50;
  transition: transform 0.8s ease;
}

.override {
  color: var(--LogPageOverText);
  position: relative;
  width: 200%;
  height: 100%;
  right: 100%;
  background-color: var(--LogPageOverBG);
  transition: transform 0.8s ease;
}

.logContainer.right-panel-active .overrideContainer {
  transform: translateX(-100%);
}

.logContainer.right-panel-active .override {
  transform: translateX(50%);
}

.overrideLeft {
  transform: translateX(-25%);
  transition: transform 0.8s ease;
}

.logContainer.right-panel-active .overrideLeft {
  transform: translateX(0);
}

.overrideRight {
  transform: translateX(0);
  transition: transform 0.8s ease;
}

.logContainer.right-panel-active .overrideRight {
  transform: translateX(25%);
}



.left {
  z-index: 2;
  opacity: 1;
  transition: transform 0.8s ease, opacity 0.2s ease 0.17s;
}

.right {
  z-index: 1;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.8s ease, opacity 0.2s ease 0.17s;
}

.logContainer.right-panel-active .left {
  opacity: 0;
  transform: translateX(100%);
}

.logContainer.right-panel-active .right {
  opacity: 1;
  z-index: 5;
  transform: translateX(0);
}

.logContainer .closeBtn {
  content: "";
  display: flex;
  position: absolute;
  left: calc(50% - 15px);
  top: 10px;
  width: 30px;
  height: 30px;
  z-index: 100;
  cursor: pointer;
  transition: transform 0.8s cubic-bezier(0, 0.75, 1, 0.33);
  user-select: none;
}

.logContainer .closeBtn .material-symbols-outlined {
  display: flex;
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
}

.logContainer .closeBtn .material-symbols-outlined.BtnLeft {
  color: var(--LogPageOverBG);
  right: 2px;
  z-index: 10;
}

.logContainer .closeBtn .material-symbols-outlined.BtnRight {
  color: #efb366;
  left: 3px;
}

.logContainer.right-panel-active .closeBtn {
  transform: rotateY(180deg);
}

.backBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100; 
  font-size: 2em;
}

